a {
	display: inline-flex;
	
	margin: 20%;
	font-size: 20px;
	color: blue;

}
#fecha{
	margin: 15%;
	font-size: 100px;
	color: rgb(62, 120, 255);
}
#hora{
	margin: 15%;
	margin-left: 35%;
	font-size: 100px;
	color: rgb(0, 168, 0);
}